<% @task ||= Task.new %>
<div class="modal-body">
  
</div>
<div class="modal-footer" style="background-color: #f5f5f5;">
  <%= simple_form_for @task, :multipart => true, :remote => true  do |f| %>
    <%= f.text_field :text, :placeholder => "Your tasks...", :style => 'width:450px; margin-bottom:-20px;', :id => "input_tasks" %>
    <%= f.hidden_field :list_id, value: list_id%>
    <%= button_tag(type: "submit", class: "btn btn-new") do %>
      <i class="icon-plus icon-white"></i>
      Add
    <% end %>
  <% end %>
</div>

<script>
	$('.accordion_name').on('click', function(){
    var list_id = $(this).attr("data-list-id");
    var modal = $('#collapse1');
    modal.selector = '#collapse1-' + list_id


    modal.find(".modal-body").html("");

    $.ajax({
      type: "GET",
      url: "/tasks/get_tasks_by_list_id?list_id=" + list_id,
      success: function(data){
        modal.find(".modal-body").html(data);
      }
    });         
  });

</script>


