<% @task ||= Task.new %>

<div class="modal-body"></div>
<div class="modal-footer" style="background-color: #f5f5f5;">
  <%= simple_form_for @task, :multipart => true, :remote => true  do |f| %>
    <%= f.text_field :text, :placeholder => "Your tasks...", :style => 'width:450px; margin-bottom:-20px;', :id => "input_tasks" %>
    <%= f.hidden_field :list_id %>
    <%= button_tag(type: "submit", class: "btn btn-new", :style => "margin-bottom: -20px;") do %>
      <i class="icon-plus icon-white"></i>
      Add
    <% end %>
  <% end %>
</div>