<div class="col-md-8">
	<%= simple_form_for List.new do |f| %>
	  <%= f.input :name %>
	  <%= f.input :privacy, :label => "Public?" %>
</div>

<div class="col-md-4">
		<%= f.button :submit, :class => "btn-small", :style => "margin-top: 25px;", :id => "btn_create"%>
</div>
	<% end %>