<% task = @task %>

<% if @tasks.present? %>

  <% @tasks.each do |t| %>

    <div class="detailBox">
      <div class="titleBox">
        <div class="sub-text">
          <%= "Created on #{t.created_at.strftime('%Y-%m-%d')}"%>
        </div>
      </div>

      <div class="actionBox">
        <%= t.text %>
      </div>
    </div>
  <% end %>

<% elsif task.present? && task.id != nil %>
  <div class="detailBox">
    <div class="titleBox">
      <div class="sub-text">
        <%= "Created on #{task.created_at.strftime('%Y-%m-%d')}"%>
      </div>
    </div>
    
    <div class="actionBox">
      <%= task.text %>
    </div>
  </div>
<% end %>


