<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Acme</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to('Index', lists_path, :method=>'get') %></li>
        <li><%= link_to('Publics', publics_lists_path, :method=>'get') %></li>
        <li><%= link_to('BookMarks', bookmarmarks_lists_path, :method=>'get') %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>

      </ul>
    </div>
  </div>
</nav>
